version: '3'
services:
  db_mysql57:
    image: mysql:5.7
    restart: always
    ports:
      - '3308:3308'
    command:
      - '--character-set-server=utf8'
      - '--collation-server=utf8_general_ci'
      - '--port=3307'
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql-Scripts:/var/lib/mysql57